body {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  background: black;
}

h1 {
  color: gold;
  border: solid gold 2px;
  border-radius: 10px;
  width: 1200px;
  font-size: clamp(2rem, 6vw, 5rem);
  text-align: center;
}

p {
  width: 180px;
  font-size: 25px;
}

.oma-text {
  font-size: 20px;
  width: 400px;
  border: solid rgb(129, 94, 6) 2px;
  border-radius: 10px;
  background: rgb(129, 94, 6);
  color: white;
  height: 50px;
}


.oma-text:hover {
  background: rgb(129, 94, 6);
  color: gold;
  border: solid gold 2px;
}

.rede-nicht {
  font-size: 20px;
  width: 400px;
  border: solid rgb(129, 94, 6) 2px;
  border-radius: 10px;
  background: rgb(129, 94, 6);
  color: white;
  height: 50px;
}

.rede-nicht:hover {
  background: rgb(129, 94, 6);
  color: gold;
  border: solid gold 2px;
}


.nav-links {
  position: absolute;
  top: 30px;
  right: 30px;
  
}


.links {
  left: 30px;
  color: white;
  text-decoration: none;
  gap: 20px;
}

.links:hover {
  color: gold;
  text-decoration: underline;
}